<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92947305471-m9ei4pjldotkqapm6pq2pgd2rilqat37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92947305471-m9ei4pjldotkqapm6pq2pgd2rilqat37</string>
	<key>API_KEY</key>
	<string>AIzaSyDXOdOhziEvMPCKy8C98l-AK6RoA3M2bgk</string>
	<key>GCM_SENDER_ID</key>
	<string>92947305471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ganneyd.growRunV1</string>
	<key>PROJECT_ID</key>
	<string>grow-run</string>
	<key>STORAGE_BUCKET</key>
	<string>grow-run.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92947305471:ios:33335307f54ce9c5888dca</string>
</dict>
</plist>